* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    padding: 30px;
}

.score-wrapper {
    max-width: 70%;
    display: inline-block;
    padding-bottom: 10px;
}

.score {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.5fr;
    height: 5vh;
}

.player-score {
}

.computer-score {
}

button {
    font-size: 20px;
    height: 40px;
    width: 100px;
    margin: 10px;
}

.results-window {
    height: 30vh;
    width: 70%;
    background-color: black;
    margin: auto;
}

.results{
    color: white;
    padding-top: 10px;
}

#reset {
    background-color: white;
    height: 60px;
    width: 150px;
}